.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.filter-item {
  margin: 8px;
}

.filter-item-control {
  background-color: teal;
  color: white;
}
