.search-user-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-user-form input {
    height: 32px;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid teal;
}

.search-user-form button {
    width: 150px;
    margin-left: 4px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 6px;
}

.search-loading {
    text-align: center;
    margin-bottom: 16px;
}

.search-error {
    text-align: center;
    margin-top: 16px;
    color: red;
}